name: Deploy API PROD

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Sync code to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "."
          target: "/var/www/perpetuorelogios/api/app"

      - name: Deploy PROD
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e
            cd /var/www/perpetuorelogios/api/app

            cat > .env <<EOF
            NODE_ENV=prod
            PORT=3000
            DATABASE_URL=${{ secrets.PROD_DATABASE_URL }}
            REDIS_URL=redis://redis:6379
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            JWT_EXPIRES_IN=1d
            EOF

            /usr/bin/docker compose down || true
            /usr/bin/docker compose up -d --build
